* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    user-select: none;
}

.main-container {
    width: 600px;
    height: 400px;
    margin: 0px auto;
    padding: 10px;
}

.search-container {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 45px;
    user-select: none;
}

.search-input {
    height: 100%;
    width: 100%;
    border: none;
    padding: 12px;
}

.search-btn {
    width: 7%;
    padding: 0 1%;
    border: none;
    cursor: pointer;
}

.search-btn input {
    display: none;
    border: none;
    padding: 0;
    width: 0;
    height: 0;
}

.search-icon {
    width: 100%;
    height: 100%;
}

.content-container {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.right-container {
    height: 100%;
}

.weather-container {
    height: 85%;
}

.tabs-container{
    height: 15%;
    width: 100%;
}

.tabs-items {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tab-item{
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.tab-active {
    color: white;
    background-color: black;
}


.locations-info-container {
    height: 20%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 5% 10%;
}

.locations-container{
    height: 80%;
}

.locations {
    margin: 0;
    height: 100%;
    padding: 10% 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    text-align: center;
}

.location-item {
    height: 90%;
    width: 70%;
    padding: 0 5%;
    margin: 0 15% 0 5%;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.active-location {
    color: white;
    background-color: black;
    border-radius: 10px;
}

.weather-block {
    display: none;
    height: 100%;
}

.weather-block:nth-child(3) {
    background-color: rebeccapurple;
}

.weather-block:target {
    display: block;
}

.weather-container .container {
    height: 100%;
}

.city-items {
    padding: 0;
}

.details-container {
    padding: 10%;
}

.details-container .city-name {
    margin-bottom: 15%;
}

.city-item {
    text-decoration: none;
    list-style-type: none;
    margin: 5% 0;
}

.now-container {
    padding: 5% 10% 0 10%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.now-bottom-container {
    height: 20%;
}

.temperature-container {
    font-size: 70px;
    line-height: 82px;
}

.weather-icon-container {
    height: 50%;
    width: 50%;
    margin: 0 auto;
}

.weather-icon {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.now-bottom-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
}

.like-icon-container {
    padding: 10px;
    height: 45px;
    width: 60%; 
    margin: 0 auto;
}

.like-icon {
    height: 100%;
    width: 100%;
}

.left-container, .right-conrainer, .tabs-container {
    border-top: 1px solid black;
}

.left-container, .right-conrainer, .locations-info-container {
    border-bottom: 1px solid black;
}

.left-container, .tab-item:nth-child(2), .tab-item:nth-child(3) {
    border-left: 1px solid black;
}

.left-container, .right-conrainer {
    border-right: 1px solid black;
}
